/* //media queries or flexbox for the background width px */

.main{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    margin: 50px;
    /* border-color: violet; */
     background-image: url('../../desktop.svg');  
    
}

.pic{
    border-radius: 12px;
}

@media(min-width:1440px){
    body{
        /* background-image: url('../../desktop.svg');   */
        background-color: tomato;
    }
}